<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.madcourse.assignment7">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_t27"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_t27_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assignment7">
        <activity
            android:name=".StatsActivity"
            android:exported="false" />

        <service
            android:name=".StickerNotification"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".StickerActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
    </application>

</manifest>